<title>umar shaikh's blog</title>
<link rel="icon" href="../circle-reg.svg">
Why 480p is the best res for youtube &nbsp;<text style="color:#4d5152">13th March '22</text>
<p>
<br>
short answer:
<br>
cus i dont have enough bandwith and 480p has the best size-to-quality ratio on youtube from what i know
<br>
<br>
<br>
long answer:
internet is expensive, atleast for me. it may not seem that way, <a href="https://inc42.com/buzz/as-telcos-push-for-higher-arpu-india-no-longer-has-the-worlds-cheapest-mobile-data-plans/">seeing that india's internet is still really cheap</a> compared to the average global, but you didnt take into account im an unemployed fag studying in college and my mom wont budge to pay more than 200 INR for my mobile data
<p>
480p is the best quality to watch videos on youtube if ur on a budget
<br>
the file size in almost the same as 360p but the quality is significantly better
<br>
also if u watch coding videos or seminars, 480p is the lowest res to read text that is small
<p>
thats it
<p>
PS: if you have some open job applications that are remote please email me, im broke rn
<br>
or if you want me to upload 32k res vids maybe consider <a href="../donate">donating</a>
<p>
<br>
back to <a href="index">blog index</a>
<p>
<br>
back to <a href="../index">main index</a>
